<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input 
                    type="text"
                    id="name"
                    class="form-control"
                    name="name"
                    placeholder="Zur Liste hinzufügen ..."
                    formControlName="name">
                </div>
                <div class="col-sm-2 form group">
                    <label for="amount">Anzahl</label>
                    <input
                    type="number"
                    id="amount" 
                    class="form-control"
                    min="1"
                    placeholder="Anzahl"
                    name="amount"
                    formControlName="amount">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button 
                        class="btn btn-success" 
                        [disabled]="!editForm.valid"
                        type="submit">{{ editMode ? 'Update':'Hinzufügen'}}</button>
                    <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Löschen</button>
                    <button class="btn btn-primary" type="button" (click)="clearForm()">Abbrechen</button>
                </div>
            </div>
        </form>
    </div>
</div>
