<div class="row">
    <div class="container col-xs-10">
        <app-shopping-list-edit></app-shopping-list-edit>
        <hr>
        <div class=" col-xs-12 list-group">
            <div 
            class="btn-group btn-group-justified list-group-item clearfix" 
            role="group" 
            ria-label=""
            class="btn-group btn-group-justified"
            *ngFor="let item of items; let i = index">
                <div class="btn-group btn-group-left" role="group">
                    <a type="button" class="btn btn-default btn-left list-group-item-text" (click)="onEditItem(item.id)">{{ item.name}} <span class="label label-primary">{{item.amount}}</span></a>
                </div>
                <div class="btn-group btn-group-right" role="group">
                    <a type="button" class="btn btn-success btn-right" (click)="onCheckItem()"><span class="glyphicon glyphicon-ok"></span></a>
                </div>
            </div>
          </div>
    </div>
</div>