<ng-container *transloco="let t; read: 'layout.menu'">
  <nz-modal [nzVisible]="true" [nzTitle]="title" (nzOnCancel)="close.emit()" [nzFooter]="modalFooter">
    <ng-container *nzModalContent>

      <ul nz-menu style="border-right: 0;">
        <li nz-menu-item (click)="entryClicked(['/'])">
          <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
          <span>{{t('Shopping list')}}</span>
        </li>
        <li nz-menu-item routerLink="settings" (click)="close.emit()">
          <i nz-icon nzType="setting" nzTheme="outline"></i>
          <span>{{t('Settings')}}</span>
        </li>
      </ul>

    </ng-container>
  </nz-modal>

  <ng-template #title>
    <h3>{{t('Menu')}}</h3>
  </ng-template>

  <ng-template #modalFooter>
    <button nzFlex="auto" nz-button nzDanger nzBlock nzType="primary" type="button" (click)="logout()">{{t('Logout')}}</button>
  </ng-template>
</ng-container>
