<ng-container *transloco="let t; read: 'layout.menu'">
  <nz-modal [nzVisible]="true" [nzTitle]="title" (nzOnCancel)="close.emit()" [nzFooter]="modalFooter">
    <ng-container *nzModalContent>

      <ul nz-menu style="border-right: 0;">
        <li nz-menu-item (click)="entryClicked(['/'])">
          <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
          <span>{{t('Shopping list')}}</span>
        </li>
        <li nz-menu-item nz-dropdown nzTrigger="click" [nzDropdownMenu]="languages">
          <i nz-icon nzType="translation" nzTheme="outline"></i>
          <span>{{t('Language')}}</span>
        </li>
      </ul>

    </ng-container>
  </nz-modal>

  <ng-template #title>
    <h3>{{t('Menu')}}</h3>
  </ng-template>

  <ng-template #modalFooter>
    <button nzFlex="auto" nz-button nzDanger nzBlock nzType="primary" type="button" (click)="logout()">{{t('Logout')}}</button>
  </ng-template>


  <nz-dropdown-menu #languages="nzDropdownMenu">
    <ul nz-menu>
      <li *ngFor="let language of languageList" nz-menu-item (click)="translocoService.setActiveLang(language.id)">{{ language.label}}</li>
    </ul>
  </nz-dropdown-menu>
</ng-container>
