@import "../../../styles.less";
@import "/node_modules/bootstrap-less/bootstrap/bootstrap.less";

@border-radius: 5px;

.main {
    position:relative;
    height:0px;
  }
  
.notification-wrapper {
  position:absolute;
  top:0;
  right:0;
  height:50px;
  margin-right: 20px;
  z-index: 100;
  max-width: 300px;
  min-width: 200px;
}

.notification-body {
    background-color: transparent;
    box-shadow: 5px 5px 5px grey;
    border-radius: @border-radius;
    cursor: pointer;
}

.notification-header {
    padding: 5px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.notification-message {
    padding: 5px;
    background-color: white;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border: 1px solid @border-grey;
    border-top: 0;
}


h2 {
    margin: 0;
    word-wrap:break-word;
}

p {
    margin: 0;
    word-wrap:break-word;
}




.notify-info {
    background-color: @standard-blue; 
}

.notify-success {
    background-color: @standard-green;
}

.notify-warn {
    background-color: @standard-orange;
}

.notify-error {
    background-color: @standard-red;
    color: white;
}
